.capsule {
    border-radius: 25px;
  background-color: rgba(46, 144, 250, 0.078);
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1570ef;
  border: 2px solid #1570ef;
  font-weight: 600;
}

// .capsule {
//   font-size: 0.75rem;
//   border-radius: 25px;
//   border: 2px solid #1570ef;
//   background-color: rgb(255, 255, 255, 0.1);
//   padding: 0.4rem 0.7rem;
// }