.blue-container{
    width: 100%;
    height: 20rem;
    margin-top: -3.5%;
    background: radial-gradient(circle, #175CD3 , #07285F);
    position: relative;

    .disclaimer-heading{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;

        h2{
            font-size: 3rem;
            font-weight: 700;
        }

        p{
            margin-top: 1.2rem;
        }
    }

}

.disclaimer-text{
    padding: 5% 10%;

    p{
        margin-top: 2rem;
        text-align: justify;
    }
}