.blue-container{

    .disclaimer-heading{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;

        h2{
            font-size: 3rem;
            font-weight: 700;
        }

        p{
            margin-top: 1.2rem;
        }
    }

}

.disclaimer-text{
    padding: 5% 10%;

    p{
        margin-top: 2rem;
        text-align: justify;
    }
}


@media(max-width:992px){
    .blue-container{
       margin-top: -10%;
       margin-bottom: 10%;

       .disclaimer-heading{
        width: 70%;

        h2{
            font-size: 2.3rem;
            font-weight: 700;
        }

        p{
            font-size: 1rem;
        }
    }
    }

}