.doctorsGallery {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 2%;
	margin-bottom: 5%;
	gap: 10%;
}

.doctorsCards {
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	overflow-x: auto;
}

.doctorsImg {
	height: 25rem;
	border-style: solid;
	border-width: 5px;
	border-radius: 50px;
	border-color: black;
}

.slider {
	/* background-color: #d7f5ff; */
	border-radius: 50%;
	color: #273f95;
	/* height: 1rem; */
	/* width: 1rem; */
	/* padding: 1rem; */
	/* margin: 1rem; */
}

.doctorDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	color: #273f95;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 992px) {
	.doctorsGallery {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-top: 2%;
		margin-bottom: 5%;
		gap: 2rem;
	}
	.doctorsImg {
		height: 20rem;
		margin-top: 4%;
	}
}

@media (max-width: 576px) {
	.doctorsGallery {
		margin-left: 15%;
		margin-right: 15%;
	}
	.doctorsImg {
		height: 15rem;
		margin-top: 4%;
	}
}

.doctor-name {
	text-align: center;
}

.doctorDetailList {
	list-style-type: none;
	text-align: center;
}

