.faq-container {
    width: 70%;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-bottom: 5rem;
  }
  
  .faq-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .faq-subtitle {
    text-align: center;
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 4rem;
  }
  
  .faq-list {
    border-top: 1px solid #e0e0e0;
  }
  
  .faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 1.5rem 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  }
  
  .faq-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;
    color: #FF4405;
    border: 1px solid #FF4405;
    border-radius: 50%;
    padding: 0.1rem 0.5rem;
  }
  
  .faq-answer-wrapper {
    text-align: start;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .faq-answer-wrapper.open {
    max-height: 10rem;
    padding-top: 0.7rem;
  }
  
  .faq-answer-wrapper.closed {
    padding-top: 0;
  }
  
  .faq-answer {
    color: #555;
    font-size: 14px;
  }
  