.footer{
	background-color: #d7f5ff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 30rem;
	width: 100%;
}

.brand-foot{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-text{
	color: #273f95;
}

.footer-text > * > * > *{
	color: #273f95;
}