.Hero {
	width: 100%;
	/* height: 75vh; */
	background-repeat: no-repeat;
}

.hero-text{
	text-align: center;
	margin-bottom: 2%;
	margin-top: 2%;
	color: #4682A9
}

.Hero-background{
	width: 100%;
	height: 35rem;
}

/* 
.Hero-header {
	text-align: center;
	font-family: "Cedarville Cursive", cursive;
	font-weight: 300;
	font-style: italic;
	font-size: 4em;
	margin-left: 9%;
}

.middle-header{
	font-family: "Cedarville Cursive", cursive;
	font-weight: 500;
	font-style: italic;
	font-size: 2em;
}

.last-header{
	margin-bottom: 3%;
	margin-left: 6.5%;
	height: 16.5vh;
} */