/* General navbar styling */
.navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background-color: #ffffff;
	/* background-color: #d7f5ff; */
	/* background-color: #273f95; */
	border-radius: 0% 0% 40px 40px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 999;
}

.brand_head {
	display: flex;
	align-items: center;
	text-decoration: none;
	/* padding-left: 1rem; */
	/* display: flex;
	gap: 8%; */
}

.brand_head>*{
	margin: 0%;
	padding: 0%;
}

.brand_head img {
	margin-right: 1rem;
}

.brand-name {
	display: flex;
	flex-direction: column;
	/* gap: 0%; */
}

.navbar-text {
	color: #273f95;
	/* color: #d7f5ff; */
}

.nav-logo-txt{
	background: linear-gradient(90deg, #1849A9 0%, #1774BD 100%);
	color: transparent;
	background-clip: text;
	font-weight: 600;
}

.navbar-toggler-icon{
	color: #273f95;
	/* color: #d7f5ff; */
}

.subtitle {
	font-size: 0.7rem;
	margin: 0%;
	padding: 0%;
	margin-top: -5px;
	font-weight: 400;
	text-wrap: nowrap;
	text-transform: capitalize;
	color: black;
}

/* Navbar links styling */
.navbar-nav {
	margin-left: 17vw;
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 1%;
}

.navbar-collapse{
	display: flex;
	justify-content: space-between;
}

.nav-item {
	/* margin-left: 1rem; */
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
	font-weight: 400;
}

.nav-item:hover{
	text-decoration: none;
}

/* .nav-link {
	text-decoration: none;
	padding: 0.5rem 1rem;
	color: black;
	font-weight: 400;
} */

.nav-link:hover {
	/* text-decoration: underline; */
	color: #175CD3;
}

.active{
	color: #175CD3;
	font-weight: 600;
	position: relative;
}

.active::after{
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	border-bottom: 4px solid #175CD3;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

/* Account buttons styling */
.account-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.account-buttons .btn {
	margin-right: 0.5rem;
	border-radius: 10px;
}

.profile-logout {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10%;
}

.profile-img {
	border-radius: 50%;
	margin-right: 0.5rem;
}

@media (max-width: 1220px) {
	.navbar-nav {
		margin-left: 17%;
		width: 100%;
	}

	.account-buttons {
		width: 100%;
	}
}



/* Responsive styling */
@media (max-width: 992px) {

	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}

	.navbar-nav {
		margin-left: 0;
		flex-direction: column;
		width: 500px;
		align-items: flex-start;
	}

	.nav-item {
		margin-left: 0;
		margin-bottom: 0.5rem;
	}

	.navbar-collapse{
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	.account-buttons {
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
		justify-content: center;
		padding: 0%;
	}

	.account-buttons .btn {
		margin-right: 0;
		margin-bottom: 0.5rem;
	}

	.profile-logout {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 0.7rem;
		margin-top: 10px;
	}

	.profile-logout .btn {
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 768px) {
	.account-buttons {
		width: 100%;
		justify-content: center;
		padding: 0%;
		justify-content: center;
	}
}

@media (max-width: 576px) {
	.brand_head {
		/* margin-bottom: 1rem; */
	}

	.navbar-nav {
		width: 100%;
	}

	.nav-logo-txt{
		font-size: 2rem;
	}

	.subtitle{
		font-size: 0.7rem;
	}

	.account-buttons {
		width: 100%;
		padding: 0%;
		justify-content: center;
	}

	.profile-logout {
		width: 100%;
		align-items: center;
	}
}
