/* .card{
	display: flex;
	flex-direction: column;
}

.card-deck {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

.card-deck > * {
}

.card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-header {
	background-color: #d7f5ff;
} */

/* Price.css */
.card {
	display: flex;
	flex-direction: column;
}

.card-deck {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

.card-deck > * {
	margin: 1rem;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-header {
	background-color: #d7f5ff;
}

.btn-block {
	margin-right: 0%;
	margin-left: 0%;
}

/* Responsive styles */
@media (max-width: 1200px) {
	.card-deck {
		flex-direction: column;
		align-items: stretch;
		align-self: center;
		width: 40%;
	}
}

@media (max-width: 992px) {
	.card-deck {
		flex-direction: column;
		align-items: stretch;
		align-self: center;
		width: 48%;
	}
}

@media (max-width: 768px) {
	.card-deck {
		flex-direction: column;
		align-items: stretch;
		align-self: center;
		width: 60%;
	}
}

@media (max-width: 576px) {
	.card-deck {
		flex-direction: column;
		align-items: stretch;
		align-self: center;
		width: 80%;
	}
}
