.page-title{
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 5rem;
	padding-top: 2.5rem;
	color: #273f95;
	text-align: center;
	text-wrap: wrap;
	margin-left: 2rem;
	margin-right: 2rem;
}

.meditation-text{
	text-align: center;
	align-content: center;
	margin: 2.5rem 6rem 4rem 6rem;
	padding: 2rem 4rem 2rem 4rem ;
	/* display: block; */
	height: 100%;
	background-color: #d7f5ff;
	border-radius: 50px;
	/* border-radius: 1-4 length|% / 1-4 length|%|initial|inherit; */
	color: #273f95;
	font-weight: 700;
	font-size: larger;
}

.services-text{
	text-align: left;
	align-content: center;
	margin: 2.5rem 6rem 4rem 6rem;
	padding: 2rem 4rem 2rem 4rem ;
	/* display: block; */
	height: 100%;
	background-color: #d7f5ff;
	border-radius: 60px;
	/* border-radius: 1-4 length|% / 1-4 length|%|initial|inherit; */
	color: #273f95;
	font-weight: 300;
	font-size: large;
}

.services-text > *{
	margin-bottom: 1rem;
}

@media (max-width: 620px) {
	.page-title{
		font-size: 4rem;
	}
	.meditation-text{
		padding: 2rem 3rem 2rem 3rem ;
		font-size: large;
	}
	.services-text{
		padding: 2rem 3rem 2rem 3rem ;
		font-size: medium;
	}
}

@media (max-width: 500px) {
	.page-title{
		font-size: 3.5rem;
	}
}

@media (max-width: 440px) {
	.page-title{
		font-size: 3rem;
	}
	.meditation-text{
		font-size: smaller;
	}
	.services-text{
		font-size: smaller;
	}
}

@media (max-width: 320px) {
	.page-title{
		font-size: 2rem;
	}
}
